body{
	background-color: #999999;
	font-family: Arial, sans serif;
}
#banner{
	background-color: #AACCAA;
	text-align: left;
	padding: .5em;
	font-size: 1.25em;
}
#content{
}
nav a{
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}
nav a:hover{
	background-color: #FFFFFF;
	color: #553300;
}
nav li{
	list-style-type: none;
	float: left;
	padding: .25em;
	margin: 0;
}
nav ul{
	padding: .25em;
	margin: 0;
	background-color: #553300;
	overflow: auto;
}
table{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	margin-top: .5em;
	border: 1px solid #113311;
	background-color: #669966;
}
#wrapper{
	background-color: #336633;
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	border: .5em solid white;
}